<div class="row" style=" margin: 0; margin-top: 10em;">
  <div class="col-sm-1">
    <div class="form-group">
      <p class="category">Unit value</p>
      <input class="form-control" type="number" value="1" (change)="masaniello.reset($event.target.valueAsNumber)">
      <p class="category">Set Result</p>
      <button class="btn btn-danger mr-1" (click)="masaniello.play(2)">Red</button>
      <button class="btn btn-success mr-1" (click)="masaniello.play(0)">0</button>
      <button class="btn mr-1" (click)="masaniello.play(1)">Black</button>
      <p class="category">Current bet</p>
      <input class="form-control" [ngClass]="(!masaniello.currentBetColor ? 'btn-success' : (masaniello.currentBetColor == 1 ? '' : 'btn-danger'))" type="text" [value]="masaniello.currentBet" [readonly]="true">
      <p class="category">Balance</p>
      <input class="form-control" type="number" [value]="masaniello.balance" [readonly]="true">
      <button class="btn btn-neutral mr-1" (click)="masaniello.reset()">Reset</button>
    </div>
  </div>
  <div class="col-sm-11">
      <table style="width:100%">
        <tr *ngFor="let row of masaniello.gameSystem">
          <td *ngFor="let column of row.columns" [ngClass]="['column-' + column.color, (column.status == 1 ? 'column-playing' : column.status == 2 ? 'column-played' : '')]">{{ column.value }}</td>
        </tr>
      </table>
    </div>
</div>