table {
    border-collapse: separate;
    border-spacing: 0; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px;
    background: linear-gradient(180deg, #009FFD 0%, #263148 100%);
}

td {
    padding: 1em;
    text-align: center;
}

.container {
    padding-top: 2em;
}

.column-2  {
    background-color: #FF3A59;
    
    &.column-playing {
        background-color: red;
        opacity: 1;
    }
}

.column-1  {
    background-color: #263148;
    opacity: 0.9;

    &.column-playing {
        background-color: black;
        opacity: 1;
    }
}

.column-0  {
    background-color: white;
    color: black;

    &.column-playing {
        background-color: #0098f0;
        color: white;
        opacity: 1;
    }
}

.column-played {
    opacity: 0.3;
}

.form-control[readonly] {
    color: white;
}